.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-images {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-images:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-images .carousel-img {
    width: 100%;
    height: 280px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-inner-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.overlay-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    background-color: var(--overlay-text-bg);
}


.hero-field {
    width: 100%;
    color: var(--overlay-text-color);
    font-weight: 900;
    margin: 0;
    /* text-shadow: 2px 2px var(--overlay-text-color); */
}

.hero-highlight {
    /* text-shadow: 2px 2px var(--overlay-text-color); */
    width: 85%;
    margin: auto;
    color: var(--overlay-text-color);
    font-size: 1.5rem;
    font-weight: 400;
}



.slide_direction {
    position: absolute;
    top: 0;
    left: 2%;
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chevron {
    font-size: 1.5rem;
    color: white;
    color: var(--accent-color);
    cursor: pointer;
}

.left,
.right {
    position: relative;
    top: -8px;
}

.left {
    left: 2%;
}

.right {
    right: 2%;
}

.carousel-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    bottom: 20px;
}

.dot {
    background-color: var(--carousel-dots);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 12;
    cursor: pointer;
}

.current {
    background-color: var(--accent-color);
    cursor: default;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.link {
    background-color: var(--overlay-text-bg);
    border: 1px solid var(--accent-color);
    transition: transform 0.2s;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: var(--overlay-text-color);
}

.link:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 768px) {
    .overlay-text-wrapper {
        width: 80%;
        margin: auto;
    }

    .hero-field {
        font-size: 3rem;
        font-weight: 700;
    }

    .hero-highlight {
        font-weight: 500;
    }

    .links {
        gap: 2rem;
    }

}

@media screen and (min-width: 1280px) {
    .carousel-images .carousel-img {
        margin: auto;
        height: 550px;
    }

    .overlay-inner-container {
        gap: 3rem;
    }

    .overlay-text-wrapper {
        width: 70%;
        padding-bottom: 1rem;
    }

    .hero-field {
        font-size: 4.5rem;
        font-weight: 900;
    }

    .hero-highlight {
        width: 100%;
        font-size: 2rem;
    }

    .left,
    .right {
        top: -12px;
    }

    .fa-chevron {
        font-size: 2.2rem;
    }

    .carousel-indicator {
        gap: 20px;
    }

    .link {
        padding: 0.75rem 1rem;
        border-radius: 7px;
        font-weight: 500;
    }

    .dot {
        width: 15px;
        height: 15px;
        margin-top: -46px;
    }
}