:root {
	--header-bg: #191919;
	--header-bg: #1a2238;
	--header-bg: #1a2238;
	--header-bg: #1d2228;
	--header-bg: #051622;
	--header-bg: #222222;
	--header-bg: #373833;
	--header-bg: #1F2022;
	--header-bg: #08613e;
	--header-bg: #141824;
	--header-bg: #212221;
	--brand-bg: #fb8122;
	--brand-bg: #051622;
	--brand-bg: #2568fb;
	--brand-bg: #e40c28;
	--brand-bg: #722F37;
	--brand-bg: #A51C30;
	--brand-bg: black;
	--brand-bg: #facd3d;
	--brand-bg: #1f3044;
	--brand-bg: #9E15BF;
	--brand-bg: #2A3166;
	--brand-bg: #4A2C40;
	--brand-bg: #1181b2;
	--brand-bg: #001730;
	--brand-bg: #051622;
	--brand-bg: #61082b;
	--primary-dark: #61082b;


	/* cool gray */
	--brand-color: #ADA5BD;
	--brand-color: #c6989a;
	--brand-color: #B5BDA5;
	--brand-color: #fb8122;
	--brand-color: #f4db7d;
	--brand-color: #fe4a49;
	--brand-color: #4ad7d1;
	--brand-color: #deb992;
	--brand-color: #b4d0e7;
	--primary-light: #b4d0e7;
	--primary-light: #f4db7d;
	--primary-light: #1ba098;
	--primary-light: #5626c4;
	--primary-light: #fb9039;
	--primary-light: #4AC6D2;
	--primary-light: #EE7879;
	--primary-light: #E9BD43;
	--primary-light: #c1436d;
	--primary-light: #ddedf4;
	--primary-light: #44449b;

	--primary-light: #4ad7d1;
	--primary-light: #1ba098;
	--primary-light: #E9BD43;
	--primary-light: #B4E7E5;
	--primary-light: #ddedf4;
	--primary-light: #deb992;
	--primary-light: #b4d0e7;

	--body-bg: #e1e2e2;
	--body-bg: #E7CBB4;
	--body-bg: #ffffff;
	--primary-bg: #ab274f;
	--primary-bg: #286da8;
	--primary-bg: #932432;
	--primary-bg: #722F37;

	--primary-bg: #2568fb;
	--complementary-color: #0C905C;
	--complementary-color: #1A0C90;
	--complementary-color: #3F88C3;
	--complementary-color: #0C8290;
	--complementary-color: #121e26;
	--complementary-color: #3B032F;
	--complementary-color: #8DB8DB;
	--complementary-color: #66A0CF;
	--complementary-color: #fb8122;
	--complementary-color: #d48166;
	--complementary-color: #1ba098;
	--complementary-color: #61082b;
	--complementary-color: #1181b2;
	--primary-text-color: #f4db7d;
	--primary-text-color: #1F2022;
	--secondary-text-color: #ee7879;
	--secondary-text-color: #f4db7d;
	--accent-color: #932432;
	--accent-color: #A51C30;
	--accent-color: #722F37;

	--accent-color: #900C40;

	--button-bg: #2F7249;
	--button-bg: #3756ff;
	--button-bg: #45433e;
	--button-bg: #2d3032;
	--button-bg: #316D9E;
	--button-bg: #08613E;
	--button-bg: #2568fb;
	--button-bg: #085761;

	--button-bg: #0C905C;

	--button-bg: #8DB8DB;
	--button-bg: #66A0CF;
	--button-bg: #3F88C3;
	--button-bg: #3F46C3;

	--primary-color: #88bbd6;
	--primary-color: #8DB8DB;
	--primary-color: #E7CBB4;
	--primary-color: #DB8DB8;
	--secondary-color: #933D41;
	--headings-text-color: #2c2c2c;

	--accent-color: #A51C30;
	--accent-color: #722F37;
	--accent-color: #1ba098;
	--accent-color: #fb9039;
	--accent-color: #b4d0e7;
	--accent-color: #61082b;
	--accent-color: #900C40;

	--active-nav-mobile: #074095;
	--active-nav-mobile: #3D938F;
	--overlay-text-bg: rgba(0, 143, 149, 0.5);
	--overlay-text-bg: rgba(0, 0, 0, 0.5);
	--overlay-text-bg: rgba(225, 70, 88, 0.5);
	--overlay-text-bg: rgba(63, 50, 80, 0.5);
	--overlay-text-bg: rgba(107, 186, 167, 0.5);
	--overlay-text-bg: rgba(60, 60, 60, 0.5);
	--overlay-text-color: #e14658;
	--overlay-text-color: #3f3250;
	--overlay-text-color: #c0b3a0;
	--overlay-text-color: #76323f;
	--overlay-text-color: #ffffff;
	--carousel-dots-bg: #847C7D;
	--carousel-dots-bg: #2585F7;
	--carousel-dots-bg: #59253A;
	--carousel-dots-bg: #283635;
	--carousel-dots-bg: #61796B;
	--carousel-dots-bg: #343434;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;

		--primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
		--secondary-glow: linear-gradient(to bottom right,
				rgba(1, 65, 255, 0),
				rgba(1, 65, 255, 0),
				rgba(1, 65, 255, 0.3));

		--tile-start-rgb: 2, 13, 46;
		--tile-end-rgb: 2, 5, 19;
		--tile-border: conic-gradient(#ffffff80,
				#ffffff40,
				#ffffff30,
				#ffffff20,
				#ffffff10,
				#ffffff10,
				#ffffff80);

		--callout-rgb: 20, 20, 20;
		--callout-border-rgb: 108, 108, 108;
		--card-rgb: 100, 100, 100;
		--card-border-rgb: 200, 200, 200;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: var(--body-bg);
}

body {
	/* color: rgb(var(--foreground-rgb)); */
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}