.main {
	padding-top: 74px;
	position: relative;
	min-height: 100vh;
}

.intro-section,
.overview {
	padding: 0 5%;
}

.title,
.field {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
	color: var(--header-bg);
	color: var(--headings-text-color);
}

.name {
	color: var(--complementary-color);
	font-size: 1.25rem;
	font-weight: 500;
}

.intro {
	font-weight: 500;
	font-size: 1.15rem;
}

.grid-container-odd,
.grid-container-even {
	margin-bottom: 1rem;
}

.highlight {
	font-size: 1.25rem
}

.image {
	width: 100%;
	height: auto;
}

.services-link-wrapper {
	display: flex;
	position: relative;
	justify-content: center;
	padding: 2.5%;
}

.services-link {
	background-color: var(--overlay-text-bg);
	background-color: var(--primary-bg);
	background-color: var(--button-bg);
	transition: transform 0.2s;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	text-transform: uppercase;
	color: var(--overlay-text-color);
}

.services-link:hover {
	transform: scale(1.2);
	cursor: pointer;
}

@media screen and (min-width: 768px) {

	.intro-section,
	.overview {
		padding: 0 10%;
	}
}

@media screen and (min-width: 1280px) {

	.intro-section,
	.overview {
		padding: 0 2.5%;
	}

	.title {
		font-size: 2.5rem;
		font-weight: 300;
		margin-top: 1rem;
	}

	.grid-container-odd,
	.grid-container-even {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: auto;
		/* gap: 2.5%;
		margin-bottom: 2.5%; */
	}

	.grid-container-odd>.text-animation-container {
		grid-column-start: 2;
		grid-row-start: 1;
	}

	.text-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--primary-bg);
	}

	.field,
	.highlight {
		color: var(--overlay-text-color);
		color: var(--primary-text-color);
	}

	.field {
		font-size: 6rem;
		font-weight: 900;
	}

	.highlight {
		padding: 0 2rem;
		font-size: 1.5rem;
	}

	.image,
	.text-wrapper {
		height: 420px;
	}

	.services-link {
		padding: 1rem 1.5rem;
		border-radius: 60px;
	}
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.card:hover {
		background: rgba(var(--card-rgb), 0.1);
		border: 1px solid rgba(var(--card-border-rgb), 0.15);
	}

	.card:hover span {
		transform: translateX(4px);
	}
}



/* Mobile */
@media (max-width: 700px) {
	.content {
		padding: 4rem;
	}

	.grid {
		grid-template-columns: 1fr;
		margin-bottom: 120px;
		max-width: 320px;
		text-align: center;
	}

	.card {
		padding: 1rem 2.5rem;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
	.grid {
		grid-template-columns: repeat(2, 50%);
	}
}