.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 74px;
	z-index: 3;
	background-color: var(--header-bg);
}

.brand {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	height: 40px;
	background-color: #1ba098;
	color: var(--brand-bg) !important;
	background-color: var(--primary-light);
	padding: 0 0.5rem;
	box-shadow: var(--brand-bg) 0px 2px 4px 0px, var(--brand-bg) 0px 2px 16px 0px;
	box-shadow: var(--brand-bg) 0px 0px 0px 3px;
	border-radius: 78px;
}

.initials {
	writing-mode: vertical-rl;
	writing-mode: vertical-lr;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--primary-light);
	color: var(--brand-color);
	margin: 0 0.3rem;
	background-color: var(--accent-color);
	background-color: var(--brand-bg);
	width: 40px;
	height: 64PX;
	padding: 0.5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 2px;
	text-align: center;

	box-shadow: var(--brand-color) 0px 2px 4px 0px, var(--brand-color) 0px 2px 16px 0px;
	box-shadow: var(--brand-color) 0px 5px 15px;
}

/* hamburger menu */
.menu__toggle {
	opacity: 0;
}

.menu__toggle:checked+.menu__btn>span {
	transform: rotate(45deg);
}

.menu__toggle:checked+.menu__btn>span::before {
	top: 0;
	transform: rotate(0deg);
}

.menu__toggle:checked+.menu__btn>span::after {
	top: 0;
	transform: rotate(90deg);
}

.menu__toggle:checked~.menu__box {
	right: 0 !important;
}

.menu__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 27px;
	right: 30px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: var(--accent-color);
	transition-duration: 0.25s;
}

.menu__btn>span::before {
	content: "";
	top: -8px;
}

.menu__btn>span::after {
	content: "";
	top: 8px;
}

.menu__box {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 74px;
	right: -100%;
	width: 100%;
	margin: 0;
	padding: 0;
	transition-duration: 0.25s;
	text-align: center;
}

.menu__box ul {
	width: 100%;
	margin: auto;
}

.menu__item,
.active {
	transition-duration: 0.25s;
}

@media screen and (max-width: 767px) {
	.custom-nav-item {
		width: 100%;
		border-bottom: solid 1px var(--accent-color);
	}

	.custom-nav-item .active,
	.menu__item:hover {
		background-color: var(--active-nav-mobile) !important;
		font-weight: 600;
	}

	.menu__btn {
		margin-left: 2rem;
		padding-bottom: 4px;
	}

	.menu__box {
		background-color: var(--accent-color);
		width: 100%;
		z-index: 100 !important;
	}

	.menu__item {
		color: var(--accent-color) !important;
		border-bottom: solid 1px var(--accent-color);
		border-bottom: solid 1px var(--active-nav-mobile) !important;
	}
}

@media screen and (min-width: 768px) {
	.initials {
		font-size: 1.5rem;
	}

	.brand {
		font-size: 1.75rem;
		font-weight: 700;
	}

	.menu__box {
		flex-direction: row;
		width: max-content;
		justify-content: right;
		align-items: center;
		position: absolute;
		right: 0;
		top: 0;
		box-shadow: none;
		height: 74px;
		transition-duration: 0ms;
	}

	.custom-nav-item .active {
		border-bottom: 2px solid var(--button-bg);
		border-bottom: 2px solid var(--accent-color);
		color: var(--primary-light) !important;
		/* color: var(--accent-color) !important; */
		cursor: default;
	}

	.menu__item:hover {
		border-bottom: 2px solid var(--button-bg) !important;
		border-bottom: 2px solid var(--accent-color) !important;
		color: var(--primary-light) !important;
		/* color: var(--accent-color) !important; */
	}

	.custom-nav-item .menu__item {
		border-bottom: 2px solid var(--header-bg);
		color: var(--primary-light) !important;
	}

	.menu__btn {
		display: none;
	}
}